@font-face
{
    font-family: blackops;

    src: url('da_fonts/Black_Ops_One/BlackOpsOne-Regular.ttf');
}

@font-face
{
    font-family: $myStory;

    src: url('da_fonts/DJB Gonna Share My Story.ttf');
}






@font-face
{
    font-family: thirdFont;

    src: url('da_fonts/typewcond_demi.otf');
}
@font-face
{
    font-family: hand;

    src: url('da_fonts/Fontscafe_HandShopTypography-C30_demo.ttf');
}
@font-face
{
    font-family: captain;

    src: url('da_fonts/AmericanCaptain.ttf');

}
@font-face {
    font-family: harry;

    src:
    url('da_fonts/HARRYP__.TTF');
}

//Dominica
@font-face {
    font-family: dominica;

    src:
    url('da_fonts/DOMIISC__.TTF');
}




@import url(https://fonts.googleapis.com/css?family=Pacifico);





@import url(https://fonts.googleapis.com/css?family=Lobster);
@import url(https://fonts.googleapis.com/css?family=Indie+Flower);
@import url(https://fonts.googleapis.com/css?family=Crafty+Girls);
@import url(https://fonts.googleapis.com/css?family=Fugaz+One);
@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Ubuntu);
