
//colors
$color-one: #e8e183;
$color-two: #c62e2e;
$color-three: #1c1f1c;
$color-four: #7a6714;
$black: #222;
$white: #ccc;
$wine: #a61119;
$text-color: rgb(226, 221, 221);
$transparent: rgba(255, 255, 255, 0);
$old-brown: rgba(41, 25, 1, .98);
$old-paper: #f8ecc2;
$blue: #5cb7de;
$strawberry: #cc2857;
$green: #1a5006;
$red: #b41a1a;

$font-one: 'Pacifico', cursive;
$font-two: 'Indie Flower', cursive;
$font-three: 'Lobster', cursive;
$font-four: thirdFont;
$font-five: hand;
$font-six: captain;
$font-seven: 'Crafty Girls', cursive;
$font-cover: 'Fugaz One', cursive;
$font-text: 'Montserrat', sans-serif;
$font-eight: 'Ubuntu', sans-serif;
$myStory: myStory;
