//- index.jade
doctype html
html(lang=en)
  head
    link(href='/styles.css', rel='stylesheet')
  body
    .cover.pure-g
     h1.pure-u-5-5 Welcome to the play ground.
     h2 This playground is a space used to play with fonts, CSS effects and backgrounds. Look trough the fonts. How does it make you feel? What about the colors? It is all yours to explore.
     a.pure-button(href="#")
        
    a(name="A")
     #container.container
      h1#somethingonpage Good Old Days
    #container-two.container
      h1 Dream like a child
    #container-three.container
      h1 Be the man
    #container-four.container
      h1 You can't blame gravity for falling in love
    #container-five.container
      h1  EMPEROR
