//- index.jade
doctype html
html(lang=en)
  head
    link(href='/styles.css', rel='stylesheet')
  body
    .cover
     h1 Welcome to the play ground.
     h2 This playground is a space used to play with fonts, CSS effects and backgrounds. Look trough the fonts. How does it make you feel? What about the colors? It is all yours to explore.
     div
      button.button() 
        a(href="https://github.com/papaponmx/fons_playground") See it on Github
      button#start
       a(href="#A") Let's start
      button.button 
        a(href="http://riosjaime.com") Take me back home
        
    a(name="A")
     #container.container
      h1#somethingonpage Good Old Days
    #container-two.container
      h1 Dream like a child
    #container-three.container
      h1 Be the man
    #container-four.container
      h1 You can't blame gravity for falling in love
 
