

@import "scss/variables";
// Mixins & functions
@import "scss/mixins";

body
{
    margin: 0;
}


a {
  color: $color-one;
  text-decoration: none;
}
a:hover, .button-start a:hover{
  color: $black;
}

.button ,#btn-one:hover, #btn-two:hover {
  color: $color-one
}


// Fonts declarations
@import "scss/fonts";






.cover
{
    @include make-a-div($wine, $color-one, $font-cover);
    h1
    {
        font-size: 4em;

        text-shadow: 5px 2px black;
    }
    #cover-p
    {
        font-family: $font-eight;
        font-size: 1.3em;
        font-stretch: condensed;
        line-height: 1.5em;

        max-width: 75%;

        letter-spacing: .5px;

        color: $text-color;

        align-self: center;
        text-shadow: .5px .5px black;
    }

    div {
      display: flex;
      justify-content: space-around;

      button
      {

        font-family: $font-eight;


          width: 10em;
          height: 4em;
          padding: 5px;
          margin-top: 2em;
          margin-bottom: 3em;

          color: $color-one;
          border-width: .25em;
          border-color: $color-one;
          border-radius: 10px;
          background-color: $transparent;

          align-self: center;
          font-size: 1em;
          letter-spacing: 1px;
      }
      button:hover, #start {
      color: $color-one;
      border-color: $color-one;
      font-weight: bolder;
      background-color: $black;
    }
    #start:hover {
      color: $black;
      font-weight: 900;
      border-width: .25em;
      border-color: $black;
      border-radius: 10px;
      background-color: $color-one;
    }
  }
} // end .cover


#container
{
    @include make-a-div($color-one, $color-two, $font-three);
    h1
    {
        text-shadow: 4px 8px #555;
    }
    h2 {
      align-self: center;
      font-style: italic;
      color: #555;
      padding-top: 2em;
      font-size: 1.2em;
      font-weight: 200;
    }
}
#container-two
{
    background: linear-gradient(to bottom, rgba(4,3,25,.75) 0%,rgba(4,3,25,1) 100%), url('img/dd.jpg');
    background-position: center;
    background-size: cover;

    @include make-a-div(black, white, $font-two);
}
#container-three
{
    background: linear-gradient(to bottom, rgba(2,3,2,.9) 0%,rgba(2,3,2,1) 100%), url('img/lions.jpg');
    background-position: center;
    background-size: cover;

    @include make-a-div(#111, white, $font-six);
    h1
    {
        font-size: em(118px);

        letter-spacing: 7px;

        text-shadow: 3px 0 #000;
    }
    h2 {
      align-self: center;
      font-size: 1.3em;
      color: lighten(black, 25%);
      font-style: oblique;
      letter-spacing: .2px;
      font-weight: 300;
    }

}
#container-four
{
    @include make-a-div(#f656b1, white, $font-seven);
    @include bg-img(rgba(217, 24, 180,.2), rgba(217, 24, 180,.2),'img/car.jpg');
    h1
    {
        text-shadow: 4px 2px #000;

        @include font-size(48px);
    }
}

#container-five
{
    @include make-a-div($old-paper, white,
    dominica);
    @include bg-img( rgba(80, 58, 0, 0.8), rgb(22, 12, 0), 'img/rome.jpg');
    h1
    {
        text-shadow: 2px 2px #000, -2px -2px #000;


    }
}
#container-six {
    @include make-a-div (gray, white, arial);
    line-height: 6em;
  #theFonts {
    font-weight: 100;
    font-family: cursive;
    text-shadow: 2px 2px darken(gray, 20%);
  }
  #can {
    font-size: .5em;
    font-weight: 200;
  }
  #impact {
    font-size: 1.2em;
    font-weight: 800;
    text-shadow: 2px 2px lighten(gray, 20%), -2px 2px lighten(gray, 20%), 0px -2px lighten(gray, 20%) ;
    color: darken(gray, 40%);
  }
}
#container-seven {
  @include make-a-div ($blue, white);
  h1 {
    text-align: center;
    font-size: 4em;
    text-shadow: 3px 3px darken($blue, 20%);

  }
  #first {
    font-family: blackops;
    padding-bottom: 2em;
  }
  #second {
    font-family: $font-eight;
    font-weight: 200;
    letter-spacing: -1px;
    text-transform: uppercase;
  }
}

#container-eight{
  @include make-a-div ( $strawberry, white, $myStory);
  h1 {
    text-shadow: 3px 3px black;
    //text-transform: uppercase;
  }
}
//Buttons


.down-btn {
  width: 8em;
  align-self: center;
  cursor: pointer;
}
.down-btn:hover {
  background-color: rgba(227, 224, 221, 0.5);
  border-radius: 100%;
  box-shadow: 3px 3px gray;
}

.up-btn {
  text-align: center;
  background-color: rgba(227, 224, 221, 0.45);

  //height: 5em;
  color: tomato;
  font-weight: bolder;
  border-radius: 100%;
  height: 50px;
  width: 50px;
  padding: 1em;
  }
  .up-btn:hover {
    background-color: white;
  }

  #my-site, a {
    font-size: .8em;
    font-style: italic;
  }
