@import url(https://fonts.googleapis.com/css?family=Pacifico);
@import url(https://fonts.googleapis.com/css?family=Lobster);
@import url(https://fonts.googleapis.com/css?family=Indie+Flower);
@import url(https://fonts.googleapis.com/css?family=Crafty+Girls);
@import url(https://fonts.googleapis.com/css?family=Fugaz+One);
@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Ubuntu);
body {
  margin: 0;
}

a {
  color: #e8e183;
  text-decoration: none;
}

a:hover, .button-start a:hover {
  color: #222;
}

.button, #btn-one:hover, #btn-two:hover {
  color: #e8e183;
}

@font-face {
  font-family: blackops;
  src: url("da_fonts/Black_Ops_One/BlackOpsOne-Regular.ttf");
}

@font-face {
  font-family: myStory;
  src: url("da_fonts/DJB Gonna Share My Story.ttf");
}

@font-face {
  font-family: thirdFont;
  src: url("da_fonts/typewcond_demi.otf");
}

@font-face {
  font-family: hand;
  src: url("da_fonts/Fontscafe_HandShopTypography-C30_demo.ttf");
}

@font-face {
  font-family: captain;
  src: url("da_fonts/AmericanCaptain.ttf");
}

@font-face {
  font-family: harry;
  src: url("da_fonts/HARRYP__.TTF");
}

@font-face {
  font-family: dominica;
  src: url("da_fonts/DOMIISC__.TTF");
}

.cover {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 102vh;
  background-color: #a61119;
  justify-content: center;
}

.cover h1 {
  font-family: "Fugaz One", cursive;
  color: #e8e183;
  align-self: center;
  font-size: 108px;
  font-size: 6.75rem;
}

.cover h1 {
  font-size: 4em;
  text-shadow: 5px 2px black;
}

.cover #cover-p {
  font-family: "Ubuntu", sans-serif;
  font-size: 1.3em;
  font-stretch: condensed;
  line-height: 1.5em;
  max-width: 75%;
  letter-spacing: .5px;
  color: #e2dddd;
  align-self: center;
  text-shadow: .5px .5px black;
}

.cover div {
  display: flex;
  justify-content: space-around;
}

.cover div button {
  font-family: "Ubuntu", sans-serif;
  width: 10em;
  height: 4em;
  padding: 5px;
  margin-top: 2em;
  margin-bottom: 3em;
  color: #e8e183;
  border-width: .25em;
  border-color: #e8e183;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0);
  align-self: center;
  font-size: 1em;
  letter-spacing: 1px;
}

.cover div button:hover, .cover div #start {
  color: #e8e183;
  border-color: #e8e183;
  font-weight: bolder;
  background-color: #222;
}

.cover div #start:hover {
  color: #222;
  font-weight: 900;
  border-width: .25em;
  border-color: #222;
  border-radius: 10px;
  background-color: #e8e183;
}

#container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 102vh;
  background-color: #e8e183;
  justify-content: center;
}

#container h1 {
  font-family: "Lobster", cursive;
  color: #c62e2e;
  align-self: center;
  font-size: 108px;
  font-size: 6.75rem;
}

#container h1 {
  text-shadow: 4px 8px #555;
}

#container h2 {
  align-self: center;
  font-style: italic;
  color: #555;
  padding-top: 2em;
  font-size: 1.2em;
  font-weight: 200;
}

#container-two {
  background: linear-gradient(to bottom, rgba(4, 3, 25, 0.75) 0%, #040319 100%), url("img/dd.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 102vh;
  background-color: black;
  justify-content: center;
}

#container-two h1 {
  font-family: "Indie Flower", cursive;
  color: white;
  align-self: center;
  font-size: 108px;
  font-size: 6.75rem;
}

#container-three {
  background: linear-gradient(to bottom, rgba(2, 3, 2, 0.9) 0%, #020302 100%), url("img/lions.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 102vh;
  background-color: #111;
  justify-content: center;
}

#container-three h1 {
  font-family: captain;
  color: white;
  align-self: center;
  font-size: 108px;
  font-size: 6.75rem;
}

#container-three h1 {
  font-size: em(118px);
  letter-spacing: 7px;
  text-shadow: 3px 0 #000;
}

#container-three h2 {
  align-self: center;
  font-size: 1.3em;
  color: #404040;
  font-style: oblique;
  letter-spacing: .2px;
  font-weight: 300;
}

#container-four {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 102vh;
  background-color: #f656b1;
  justify-content: center;
  background: linear-gradient(to bottom, rgba(217, 24, 180, 0.2) 0%, rgba(217, 24, 180, 0.2) 100%), url("img/car.jpg");
  background-position: center;
  background-size: cover;
}

#container-four h1 {
  font-family: "Crafty Girls", cursive;
  color: white;
  align-self: center;
  font-size: 108px;
  font-size: 6.75rem;
}

#container-four h1 {
  text-shadow: 4px 2px #000;
  font-size: 48px;
  font-size: 3rem;
}

#container-five {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 102vh;
  background-color: #f8ecc2;
  justify-content: center;
  background: linear-gradient(to bottom, rgba(80, 58, 0, 0.8) 0%, #160c00 100%), url("img/rome.jpg");
  background-position: center;
  background-size: cover;
}

#container-five h1 {
  font-family: dominica;
  color: white;
  align-self: center;
  font-size: 108px;
  font-size: 6.75rem;
}

#container-five h1 {
  text-shadow: 2px 2px #000, -2px -2px #000;
}

#container-six {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 102vh;
  background-color: gray;
  justify-content: center;
  line-height: 6em;
}

#container-six h1 {
  font-family: arial;
  color: white;
  align-self: center;
  font-size: 108px;
  font-size: 6.75rem;
}

#container-six #theFonts {
  font-weight: 100;
  font-family: cursive;
  text-shadow: 2px 2px #4d4d4d;
}

#container-six #can {
  font-size: .5em;
  font-weight: 200;
}

#container-six #impact {
  font-size: 1.2em;
  font-weight: 800;
  text-shadow: 2px 2px #b3b3b3, -2px 2px #b3b3b3, 0px -2px #b3b3b3;
  color: #1a1a1a;
}

#container-seven {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 102vh;
  background-color: #5cb7de;
  justify-content: center;
}

#container-seven h1 {
  font-family: inherit;
  color: white;
  align-self: center;
  font-size: 108px;
  font-size: 6.75rem;
}

#container-seven h1 {
  text-align: center;
  font-size: 4em;
  text-shadow: 3px 3px #2486b0;
}

#container-seven #first {
  font-family: blackops;
  padding-bottom: 2em;
}

#container-seven #second {
  font-family: "Ubuntu", sans-serif;
  font-weight: 200;
  letter-spacing: -1px;
  text-transform: uppercase;
}

#container-eight {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 102vh;
  background-color: #cc2857;
  justify-content: center;
}

#container-eight h1 {
  font-family: myStory;
  color: white;
  align-self: center;
  font-size: 108px;
  font-size: 6.75rem;
}

#container-eight h1 {
  text-shadow: 3px 3px black;
}

.down-btn {
  width: 8em;
  align-self: center;
  cursor: pointer;
}

.down-btn:hover {
  background-color: rgba(227, 224, 221, 0.5);
  border-radius: 100%;
  box-shadow: 3px 3px gray;
}

.up-btn {
  text-align: center;
  background-color: rgba(227, 224, 221, 0.45);
  color: tomato;
  font-weight: bolder;
  border-radius: 100%;
  height: 50px;
  width: 50px;
  padding: 1em;
}

.up-btn:hover {
  background-color: white;
}

#my-site, a {
  font-size: .8em;
  font-style: italic;
}
